  <!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                Sobre <span>Nós</span>
            </h2>
            <p>
                INSTITUTO DE TECNLOGIA DE INFORMAÇÃO E COMUNICAÇÃO - INSTIC
            </p>

        </div>
        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="~/img/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <h3>
                        SOMOS O INSTIC
                    </h3>
                    <p>
                        INSTITUTO DE TECNLOGIA DE INFORMAÇÃO E COMUNICAÇÃO, inaugurada pelo Ex vice-presidente Dr. Manuel vicente
                        aos 12 de junho de 2013. Localizado em Luanda no distrito urbano do Rangel-Bairro CTT Km7.
                    </p>
                    <p>
                        Desde 2020 o INSTIC(Ex:ISUTIC) passou a ser uma unidade orgânica da Universidade de Luanda e, ministra
                        actualmente os
                        seguintes cursos: Engenharia Informática, Telecomunicações e Gestão de Informática.
                    </p>
                    <a href="sobre.html">
                        Saber Mais
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
<!-- about app -->
<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Sobre à nossa <span>Aplicação-FSF</span>
            </h2>
        </div>
        <div class="why_container">


            <div class="box">

                <div class="detail-box">
                    <h5>
                        Sistema de Gestão de Fila para à Secretaria do INSTIC
                    </h5>
                    <p>
                        <strong>1-Reserva Online de Posição:</strong> <br>
                        <i>
                            Permite que os estudantes, reservem uma posição na fila através de um portal online ou aplicativo
                            móvel.
                        </i>
                    </p>
                    <p>
                        <strong>2-Notificações em Tempo Real:</strong> <br>
                        <i>
                            Envia atualizações automáticas sobre a posição na fila e o tempo estimado de atendimento por SMS ou
                            notificações no aplicativo.
                        </i>
                    </p>
                    <p>
                        <strong>3-Gerenciamento de Filas:</strong> <br>
                        <i>
                            A secretaria pode visualizar e gerenciar as filas em tempo real, priorizando atendimentos urgentes ou
                            específicos,
                            como matrícula ou retirada de documentos.
                        </i>
                    </p>
                    <p>
                        <strong>4-Histórico de Atendimento:</strong> <br>
                        <i>
                            Registra todos os atendimentos realizados, facilitando o acompanhamento e análise de dados para
                            melhorar o serviço.
                        </i>
                    </p>
                    <p>
                        <strong>5-Feedback de Atendimento:</strong> <br>
                        <i>
                            Coleta feedback dos usuários após o atendimento para avaliar e melhorar continuamente o serviço
                            prestado.
                        </i>
                    </p>

                </div>
            </div>

        </div>

    </div>
</section>

<!-- end about app -->